---
import Header from '../components/Header.astro';
import Footer from '../components/Footer.astro';
---

<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>ページ紹介</title>
  </head>

  <body>
    <Header />

    <main style="padding:30px;">
      <h1>このサイトについて</h1>
      <p>野球の魅力を紹介するサイトです。</p>
    </main>

    <Footer />
  </body>
</html>