---
import Header from '../../components/Header.astro';
import Footer from '../../components/Footer.astro';
---

<html lang="ja">
  <head>
    <meta charset="UTF-8">
    <title>山田哲人</title>
  </head>

  <body>
    <Header />

    <main style="padding:30px;">
      <h1>山田哲人</h1>
      <p>チーム：スワローズ</p>
      <p>ポジション：内野手</p>
      <p>詳細：トリプルスリー達成の名選手</p>
    </main>

    <Footer />
  </body>
</html>